<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-3">

      <h5>REVIEW:
      <p>Id: {{vm.glassdoorData.id}}  </p>
      <p>Name: {{vm.glassdoorData.name}} <p>
      <p>industry: {{vm.glassdoorData.industry}} </p>
      <p>Number Of Ratings: {{vm.glassdoorData.numberOfRatings}} </p>
      <p>Overall Rating: {{vm.glassdoorData.overallRatings}} </p>
      <p>Rating Description: {{vm.glassdoorData.ratingDescription}} </p>
    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>


  </div>
</div>
