<!-- NAVIGATION BAR (desktop)-->
<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">{{vm.user[0].username}}</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAVIGATION BAR (mobile)-->
<nav class="navbar navbar-default navbar-fixed-top visible-xs">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">{{vm.user[0].username}}</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- SECTION-->
<div class="interViewTipsBackground">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <strong>Review</strong>
      </h3>
      <hr>
        <!-- COMPANY REVIEW -->
      <div class="col-sm-6">
        <img ng-src="{{vm.employer.squareLogo}}" width-"100" height="100" alt="{{vm.employer.name}}"/>
          <br/>
          <strong>Name:</strong>
          {{vm.employer.name}}
          <br/>
          <strong>Website url:</strong>
          {{vm.employer.website}}
          <br/>
          <strong>Industry:</strong>
          {{vm.employer.industry}}
          <br/>
          <strong>Overall Ratings:</strong>
          {{vm.employer.overallRating}}
          <br/>
          <strong>Rating Description:</strong>
          {{vm.employer.ratingDescription}}
          <br/>
          <strong>Culture And Values Rating:</strong>
          {{vm.employer.cultureAndValuesRating}}
          <br/>
          <strong>Senior Leadership Rating:</strong>
          {{vm.employer.seniorLeadershipRating}}
          <br/>
          <strong>Compensation And Benefits Rating:</strong>
          {{vm.employer.compensationAndBenefitsRating}}
          <br/>
          <strong>Work Life Balance Rating:</strong>
          {{vm.employer.workLifeBalanceRating}}
          <br/>
          <strong>Recommend To FriendRating:</strong>
          {{vm.employer.recommendToFriendRating}}
          <br/>
          <strong>Sector Name:</strong>
          {{vm.employer.sectorName}}
          <br/>
          <strong>Industry Name:</strong>
          {{vm.employer.industryName}}
        </div>
        <!--ceo rating-->
        <div class="col-sm-6">
          <br/>
          <img ng-src="{{vm.employer.ceo.image.src}}" width="100" height="100" alt="{{vm.employer.ceo.name}}"/>
          <br/>
          <strong>Name:</strong>
          {{vm.employer.ceo.name}}
          <br/>
          <strong>Title:</strong>
          {{vm.employer.ceo.title}}
          <br/>
          <strong>Number Of Ratings:</strong>
          {{vm.employer.ceo.numberOfRatings}}
          <br/>
          <strong>Percentage Approve:</strong>
          {{vm.employer.ceo.pctApprove}}%
          <br/>
          <strong>Percentage Disapprove:</strong>
          {{vm.employer.ceo.pctDisapprove}}%
        </div>
    </div>
  <!-- featured reviews-->
  <div class="col-sm-12">
    <div class="col-sm-10">
      <h3>
        <strong>Featured Review</strong>
      </h3>
      <hr>
      <strong>Job Title:</strong>
      {{vm.employer.featuredReview.jobTitle}}
      <br/>
      <strong>Location:</strong>
      {{vm.employer.featuredReview.location}}
      <br/>
      <strong>Headline:</strong>
      {{vm.employer.featuredReview.headline}}
      <br/>
      <strong>Pros:</strong>
      {{vm.employer.featuredReview.pros}}
      <br/>
      <strong>Cons:</strong>
      {{vm.employer.featuredReview.cons}}
      <br/>
      <strong>Overall:</strong>
      {{vm.employer.featuredReview.overall}}
      <br/>
      <strong>Featured Review url </strong>
      <a href="{{vm.employer.featuredReview.attributionURL}}">
        {{vm.employer.featuredReview.attributionURL}}
      </a>
      <!-- COMPANY RESULT LINK-->
      <a ng-show="companyData" ui-sref="Search Company"> < Company results </a>
    </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
