
<!--this page return a $state back to feed.html-->

<div class="rows">
  <div class="col-xs-12">
    <form>
      <br><br>  Interview Question #1:  <input type="text" name="email" id="email" ng-model="vm.question.one" />
      <br><br>  Interview Question #2   <input type="text" name="email" id="email" ng-model="vm.question.two" />
      <br><br>  Interview Question #3   <input type="text" name="email" id="email" ng-model="vm.question.three" />
      <br><br>  Interview Question #4   <input type="text" name="email" id="email" ng-model="vm.question.four" />
      <br><br>  Interview Question #5   <input type="text" name="email" id="email" ng-model="vm.question.five" />
      <br><br>  Interview Question #6   <input type="text" name="email" id="email" ng-model="vm.question.six" />
      <br><br>  Interview Question #7   <input type="text" name="email" id="email" ng-model="vm.question.seven" />
      <br><br>  Interview Question #8   <input type="text" name="email" id="email" ng-model="vm.question.eight" />
      <br><br>  Interview Question #9   <input type="text" name="email" id="email" ng-model="vm.question.nine" />
      <br><br>  Interview Question #10  <input type="text" name="email" id="email" ng-model="vm.question.ten" />
       <br/><br/>Additional Comments:    <textarea name="comments" id="comments" cols="25" rows="3" ng-model="vm.question.eleven"></textarea>
    </form>
    <button class="btn btn-primary" ng-click="vm.addPost()">Submit</button>
  </div>
</div>







<!-- createsScope variable as questions to pass data -->
