<!-- NAVIGATION BAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--Section -->

<div class="editPhoto">
<div class="row panel panel-default ">
  <div class="col-sm-12 panel-body">
      <div class="col-sm-3">
        <h2>Edit Profile:</h2>
      </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
    </div>
  </div>

  <div class="col-sm-9">

    <div class="col-sm-4">

    </div>

    <!-- UPLOAD NEW PHOTO -->
    <div class="col-sm-4 ">
      <p>
      <h4>  Upload new photo:</h4>
      </p>
      <button class="btn btn-default" ng-click="vm.pickFile()">Upload</button>
      <h2>{{vm.file.filename}}</h2>
      <img ng-src="{{vm.file.url | fpConvert:{w: 400} }}"/>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">

    </div>
  </div>
  <div class="col-sm-3">
  </div>
</div>
</div>

<!-- FOOTER-->

<footer>
  <div class="row">
    <div class="col-sm-12">
      <p class="text-center">
      <br> © Copyright 2016 Enterview. Website Created by Brionna White.
      </p>
    </div>
  </div>
</footer>
