<!-- NAVIGATION BAR (desktop)-->
<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">{{vm.user[0].username}}</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAVIGATION BAR (mobile)-->
<nav class="navbar navbar-default navbar-fixed-top visible-xs">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">{{vm.user[0].username}}</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>


<!--Section -->

<div class="editPhoto">
  <div class="row panel panel-default ">
    <div class="col-sm-12 panel-body">
      <h2 class="text-left">Update Profile Picture</h2>
    </div>
    <div class="col-sm-9">
      <div class="col-sm-4">
      </div>
      <!-- UPLOAD NEW PHOTO -->
      <div class="col-sm-4">
        <button class="btn btn-success fa fa-upload" ng-click="vm.pickFile()">Upload</button>
        <h2>{{vm.file.filename}}</h2>
        <img ng-src="{{vm.file.url | fpConvert:{w: 400} }}"/>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
