<!-- NAVIGATION BAR (desktop)-->
<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAVIGATION BAR (mobile)-->
<nav class="navbar navbar-default navbar-fixed-top visible-xs">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- PAGE FOR EDITCONTROLLER: UPDATE()-->
<form>
  <div class="editPost">
  </div>
  <div class="rows">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="col-xs-4 col-sm-3 col-md-3">
        Answer the following questions:
      </div>
      <!-- TYPE OF QUESTION EDIT INPUT FIELD-->
      <div class="col-xs-4 col-sm-3 col-md-3">
        <br/>
        <br/>
          Type of interview:
        <br/>
        <label class="radio-inline">
          <input
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            ng-model="inputOne"
            ng-click="vm.check('one')">
            Phone Screen
        </label>
        <br/>
        <label class="radio-inline">
          <input
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            ng-model="inputTwo"
            ng-click="vm.check('two')">
            In-Person 1:1
        </label>
        <br/>
        <label class="radio-inline">
          <input
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio3"
            ng-model="inputTwo"
            ng-click="vm.check('three')"/>
            Group/Panel
        </label>
        <!-- INTEVIEW QUESTIONS EDIT INPUT -->
        <form>
          <br/>
          <br/>
          Website url:
          <br/>
          <input
            type="text"
            name="companyDomaindomain"
            id="companyDomain"
            ng-model="vm.companyDomain"/>
          <br/>
          <br/>
          Position  title:
          <br/>
          <input
            type="text"
            name=""
            id="email"
            ng-model="vm.position"/>
          <br/>
          <br/>
          Interview question #1:
          <input type="text"
            name="post"
            id="post"
            ng-model="vm.postOne" >
          <br/>
          <br/>
          Interview question #2
          <input
            type="text"
            name="post"
            id="post"
            ng-model="vm.postTwo" >
          <br/>
          <br/>
          Interview question #3
          <input
            type="text"
            name="post"
            id="post"
            ng-model="vm.postThree" >
          <br/>
          <br/>
          Interview question #4
          <input
            type="text"
            name="post"
            id="post"
            ng-model="vm.postFour" >
          <br/>
          <br/>
           Interview question #5
           <input
            type="text"
            name="post"
            id="post"
            ng-model="vm.postFive" >
          <br/>
          <br/>
          Additional Comments:
          <textarea
            name="comments"
            id="comments"
            cols="25"
            rows="3"
            ng-model="vm.postSix" >
          </textarea>
          <!-- EDIT BUTTON-->
          <br>
          <br>
          <button class="btn btn-primary btn-sm" ng-click="vm.update()"> Edit post </button>
        </form>
        </div>
        <div class="col-sm-3 col-md-3">
        </div>
        <div class="col-sm-3 col-md-3">
        </div>
      </div>
    </div>
</form>
