
<!-- PAGE FOR EDITCONTROLLER: UPDATE()-->
<form>
  <div class="rows">
    <div class="col-xs-12">
      <div class="col-xs-3">
        Answer the following questions:
      </div>
      <!-- TYPE OF QUESTION EDIT INPUT FIELD-->
      <div class="col-xs-3">
        <br>
        <br>
          Type of interview:
      <br>
        <label class="radio-inline">
          <input
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            ng-model="inputOne"
            ng-click="vm.check('one')">
              Phone Screen
        </label>
      <br>
        <label class="radio-inline">
          <input
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            ng-model="inputTwo"
            ng-click="vm.check('two')">
              In-Person 1:1
        </label>
      <br>
        <label class="radio-inline">
          <input
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio3"
            ng-model="inputTwo"
            ng-click="vm.check('three')">
              Group/Panel
        </label>

        <!-- INTEVIEW QUESTIONS EDIT INPUT -->
        <form>
          <br>
          <br>
            Position  title:
          <br>
            <input
              type="text"
              name=""
              id="email"
              ng-model="vm.position">
          <br><br>  Interview Question #1:  <input type="text" name="post" id="post" ng-model="vm.postOne" >
          <br><br>  Interview Question #2   <input type="text" name="post" id="post" ng-model="vm.postTwo" >
          <br><br>  Interview Question #3   <input type="text" name="post" id="post" ng-model="vm.postThree" >
          <br><br>  Interview Question #4   <input type="text" name="post" id="post" ng-model="vm.postFour" >
          <br><br>  Interview Question #5   <input type="text" name="post" id="post" ng-model="vm.postFive" >
          <br>
          <br>
            Additional Comments:
            <textarea
              name="comments"
              id="comments"
              cols="25"
              rows="3"
              ng-model="vm.postSix" >
            </textarea>
      </form>
      <!-- EDIT BUTTON-->
      <button class="btn btn-primary btn-sm" ng-click="vm.update()">Edit post</button>
      </div>
      <div class="col-xs-3">
      </div>
      <div class="col-xs-3">
      </div>
    </div>
  </div>


     </div>
   </form>
