<!-- NAVIGATION BAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>






<!-- SECTION-->
<h4>Feed</h4>
<div ng-repeat="p in vm.posts">
  <div>
    <img ng-src="{{p.authorPhoto}}" width="75" heigh="75"/>
  </div>
  <div>
    <p>
      @{{p.author}}
    </p>
  </div>
  <div>
    Type of interview: {{p.interviewType}}
  </div>
  <div>
    Position Title: {{p.positionTitle}}
  </div>
  <div>
    Interview Question #1:   {{p.question.one}}
  </div>
  <div>
    Interview Question #2: {{p.question.two}}
  </div>
  <div>
    Interview Question #3: {{p.question.three}}
  </div>
  <div>
    Interview Question #4: {{p.question.four}}
  </div>
  <div>
    Interview Question #5: {{p.question.five}}
  </div>
  <div>
    Additional Comments: {{p.question.six}}
  </div>
  <div>
    {{p.dateCreated  | date: 'short'}} <!-- this filter shortens time format -->
  </div>
    <button
      class="btn btn-default btn-sm"
      ng-click="vm.remove(p._id, $index) ">
      Delete
    </button>
    <button
      class="btn btn-default btn-sm"
      ui-sref="EditPost
      ({info: [p. _id,
      p.interviewType,
      p.positionTitle,
      p.question.one,
      p.question.two,
      p.question.three,
      p.question.four,
      p.question.five,
      p.question.six]})">
        Edit
    </button>
</div>
<!-- CREATE POST BUTTON -->
    <br><br><button  class="btn btn-info" ui-sref="CreatePost({info:vm.companyName})">Create Review</button>
