<center> <h3>Welcome back,  {{vm.username}}!</h3></center>

<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-3">
      <span
      ui-sref="Profile"
      class="profilePic">
      <img ng-src="{{vm.photoUrl}}"
      width="175"
       height="175"
      alt="portfolio-photo"/>
    </span>
    <div>
    @{{vm.username}}
  </div>
     <table class="table">
       <tr>
         <td>
           <p>
       </p>
           <p>
             <button class="btn btn-default btn-sm" ui-sref="EditProfile">Edit Photo</button>
             <button class ="btn btn-default btn-sm" ng-click="vm.logout()">Logout</button>
           </p>
         </td>
       </tr>
     </table>
    </div>
    <div class="col-sm-3">
      <a ui-sref="InterviewTips">View More Interview tips</a>

    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>



  </div>
</div>
