<!-- NAVIGATION BAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">{{vm.user[0].username}}</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- SECTION-->
<div class="homeBackground">
  <div class="row">
    <div class="col-sm-12 ">
        <br>
        <center>
          <p>
            <h3>
              THANK YOU FOR CHOOSING ENTERVIEW!
            </h3>
          </p>
        </center>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12 text-left">
          <center>
            <p> Our system is designed to make you more than prepared for your big day.
              <br>Bring your "A" game when going into an interview and impress the hiring manager with your knowledge about the company.
            </p>
          </center>
        </div>
        <!-- profile photo-->
        <div class="row">
          <div class="col-sm-4 home-bio panel panel-default">
            <span
            ui-sref="Profile"
            class="profilePhoto">
          <img ng-src="{{vm.user[0].photoUrl}}"
          class="profilePhoto"
          width="250"
          height="250"
          alt="portfolio-photo"/>
          <center>
            <h5>
              @{{vm.user[0].username}}
            </h5>
          </center>
            <p class="text-center">
              <button class="btn btn-info homeIcon"  ui-sref="EditProfile"> Edit Photo</button>
            </p>
          </div>
        <div class="col-sm-4 ">
            <h4> To get started:</h4>
            <p>
              Click <em>"Research Company"</em> and fill in Company Name and Comapny Website.
              Our system will give you real company data information.
          <h3>  <a class="label label-default fa fa-search homeIcon" ui-sref="SearchCompany"> Research Company </a><h3>
        </div>
        <div class="col-sm-4">
          <br><br><p>  Click <em>"Interview Tips"</em> and you will find expert advice and a list of 51 questions you should be asking during your interview.
          <h3>  <a class="fa fa-info-circle label label-default homeIcon " ui-sref="InterviewTips"> Interview Tips </a></h3>
          </p>
        </div>
          </div>
      </div>
    </div>
</div>
