<!-- NAV SECTION -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
  <!-- SECTION-->
  <div class="interViewTipsBackground">
  <div class="row panel panel-default">
    <div class="col-sm-12 panel-body">
      <br>
      <h4>
        <p>
       51 INTERVIEW QUESTIONS TO ASK DURING AN INTERVIEW
     </p>
   </h4>
   <hr>
   <!-- VIDEO -->
  <div class="col-sm-12">
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/5Z3uzFtFNcQ" frameborder="0" allowfullscreen></iframe></center>
  </div>
  <div class="col-sm-12">
  <br>
    You probably already know that an interview isn't just a chance for a hiring manager to grill you—it's your opportunity
    to sniff out whether a job is the right fit for you. Which means: It's important to go in with some questions.
    What do you want to know about the position? The company? The department? The team?
  </div>
  <div class="col-sm-12">
    <br>
    To get you thinking, we've put together a list of key questions to ask in your interview.
    We definitely don't suggest asking all of them rapid-fire—some of this stuff will certainly be covered during the course of your discussion,
    and you can weave in other questions as you go.
  </div>
  <div class="col-sm-12">
    <br>
    But when the inevitable, "So, do you have any questions for us?" part of the interview comes?
    Use this list to make sure you've covered all your bases.
  </p>
  </div>
  <div class="col-sm-12">
    <strong>
      <h3>
        The Job
      </h3>
    </strong>
    <hr>
        <p>
          <em>
            First, make sure you have a handle on exactly what the day-to-day responsibilities of the job will be—both now and in the future.
          </em>
        </p>
    1. What does a typical day look like?
    <br>
    2. What are the most immediate projects that need to be addressed?
    <br>
    3. Can you show me examples of projects I'd be working on?
    <br>
    4. What are the skills and experiences you’re looking for in an ideal candidate?
    <br>
    5. What attributes does someone need to have in order to be really successful in this position?
    <br>
    6. What types of skills is the team missing that you’re looking to fill with a new hire?
    <br>
    7. What are the biggest challenges that someone in this position would face?
    <br>
    8. What sort of budget would I be working with?
    <br>
    9. Is this a new role that has been created?
    <br>
    10. Do you expect the main responsibilities for this position to change in the next six months to a year?
  </div>
  <div class="col-sm-12">
    <br>
    <strong>
      <h3>
        Training and Professional Development
      </h3>
    </strong>
    <hr>
    <p>
      <em>
        Think of each new job not just as a job, but as the next step on your path to career success. Will this position help you get there?
      </em>
    </p>

      <br>
      11. How will I be trained?

      <br>
      12. What training programs are available to your employees?

      <br>
      13. Are there opportunities for advancement or professional development?

      <br>
      14. Would I be able to represent the company at industry conferences?

      <br>
      15. Where is the last person who held this job moving on to?

      <br>
      16. Where have successful employees previously in this position progressed to?
    </div>
    <div class="col-sm-12">
      <br>
      <strong>
        <h3>
          Your Performance
        </h3>
      </strong>
      <hr>

    <p>
      <em>
        Make sure you're setting yourself up for success by learning up front the goals of the position and how your work will be evaluated.
      </em>
    </p>

      <br>
      17. What are the most important things you’d like to see someone accomplish in the first 30, 60, and 90 days on the job?

      <br>
      18. What are the performance expectations of this position over the first 12 months?

      <br>
      19. What is the performance review process like here? How often would I be formally reviewed?

      <br>
      20. What metrics or goals will my performance be evaluated against?
  </div>
  <div class="col-sm-12">
      <br>
      <strong>
        <h3>
          Interviewer
        </h3>
      </strong>
      <hr>

    <p>
      <em>
      Asking questions of the interviewer shows that you're interested in him or her as a person—and that's a great way to build rapport.
    </em>
    </p>

      <br>
      21. How long have you been with the company?

      <br>
      22. Has your role changed since you've been here?

      <br>
      23. What did you do before this?

       <br>
       24. Why did you come to this company?

      <br>
      25. What’s your favorite part about working here?
    </div>
    <div class="col-sm-12">
      <br>
      <strong>
        <h3>
          The Company
        </h3>
      </strong>
      <hr>

      <p>
        <em>
        Because you're not just working for one boss or one department, you're working for the company as a whole.
      </em>
      </p>

      <br>
      26. I've read about the company's founding, but can you tell me more about ___?

       <br>
       27. Where do you see this company in the next few years?

        <br>
        28. What can you tell me about your new products or plans for growth?

        <br>
        29. What are the current goals that the company is focused on, and how does this team work to support hitting those goals?

       <br>
       30. What gets you most excited about the company's future?
     </div>
      <div class="col-sm-12">
       <br>
       <strong>
         <h3>
           The Team
         </h3>
       </strong>
       <hr>
       <p>
         <em>
         The people you work with day in and day out can really make or break your work life. Ask some questions to uncover whether it's the right team for you.
       </em>
       </p>

      <br>31. Can you tell me about the team I’ll be working with?

       <br>32. Who will I work with most closely?

      <br>33. Who will I report to directly?

      <br>34. Can you tell me about my direct reports? What are their strengths and the team's biggest challenges?

      <br>35. Do you expect to hire more people in this department in the next six months?

      <br>36. Which other departments work most closely with this one?

      <br>37. What are the common career paths in this department?
    </div>
    <div class="col-sm-12">
      <br>
      <strong>
        <h3>
          The Culture
        </h3>
      </strong>
      <hr>
    <p>
      <em>
        Is the office buttoned-up conservative or a fly-by-the-seat-of-your-pants kind of place? Learn the subtle, but oh-so-important, aspects of company culture.
      </em>
    </p>
      <br>
      38. What is the company and team culture like?
      <br>
      39. How would you describe the work environment here—is the work typically collaborative or more independent?
      <br>
      40. Can you tell me about the last team event you did together?
      <br>
      41. Is there a formal mission statement or company values? (Note: Make sure this isn't Google-able!)
      <br>
      42. What's your favorite office tradition?
      <br>
      43. What do you and the team usually do for lunch?
      <br>
      44. Does anyone on the team hang out outside the office?
      <br>
      45. Do you ever do joint events with other companies or departments?
      <br>
      46. What's different about working here than anywhere else you've worked?
      <br>
      47. How has the company changed since you joined?
    </div>
    <div class="col-sm-12">
      <br>
      <strong>
        <h3>
          Next Steps
        </h3>
      </strong>
      <hr>
    <p>
      <em>
      Before you leave, make sure the interviewer has all of the information he or she needs and that you're clear on the next steps by asking these questions.
    </em>
    </p>
      <br>
      48. Is there anything that concerns you about my background being a fit for this role?

      <br>49. What are the next steps in the interview process?

      <br>50. Is there anything else I can provide you with that would be helpful?

      <br>51. Can I answer any final questions for you?
      <br>
      </div>
      <a class="label label-default" ui-sref="Home"> < Go home </a>
    </div>
  </div>
</div>
