<!-- NAV SECTION (desktop)-->
<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="#">ENTERVIEW </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="Login">Login</a></li>
      <li><a ui-sref="Register">SignUp</a></li>
    </ul>
  </div>
</nav>

<!-- NAV SECTION (mobile)-->
<nav class="navbar navbar-default navbar-fixed-top visible-xs">
  <div class="container" style="padding-left:0px">
    <div class="dropdown">
      <span><h1 style="padding-left:5px"> <i class="fa fa-bars" aria-hidden="true"></i></h1></i></span>
      <div class="dropdown-content">
        <p ui-sref="Login">Login</p>
        <p ui-sref="Register">Signup</p>
      </div>
    </div>
  </div>
</nav>

<!-- COVER SECTION -->
<div class="row">
  <div class="hidden-xs">
    <div class="col-xs-12 col-sm-12 col-md-12 background">
      <br/>
      <h1>
        Real
        <typed
          type-strings="['Expert Advice^3000', 'Interview Questions^3000' ,'Company Data^3000', ]"
          start-timeout="500"
          type-speed="20"
          back-speed="20"
          loop="true">
      </typed>
      </h1>
        <h5>
          Get your foot in the door at your next interview using our system.
          <br/>
          We have tools that are designed to make you more than prepared
          <br/>
          for your big day.
        </h5>
      </div>
  </div>
</div>

<!-- COVER SECTION (mobile)-->
<div class="row">
  <div class="visible-xs">
    <div class="col-xs-12 col-sm-12 col-md-12 background-mobile">
      <br/>
      <h1>
        Real
        <typed
          type-strings="['Expert Advice^3000', 'Interview Questions^3000' ,'Company Data^3000', ]"
          start-timeout="500"
          type-speed="20"
          back-speed="20"
          loop="true">
      </typed>
          </h1>
        <h5>
          Get your foot in the door at your next interview using our system.
          <br/>
          We have tools that are designed to make you more than prepared
          <br/>
          for your big day.
        </h5>
      </div>
    </div>
</div>

<!-- SERVICE -->
<div class="row services">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <h1 class="text-center">Services</h1>
    <hr style="border-top: 1px solid #000">
    <div class="col-xs-4 text-center">
      <i class="fa fa-question-circle fa-lg" style="font-size:60px"aria-hidden="true"></i>
      <h3>View Interview Questions</h3>
      <div class="row">
        <div class="col-xs-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
    <div class="col-xs-4 text-center">
      <i class="fa fa-search fa-lg" style="font-size:60px"aria-hidden="true"></i>
      <h3>Look Up Company Data</h3>
      <div class="row">
      <div class="col-xs-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
    <div class="col-xs-4 text-center">
      <i class="fa fa-lightbulb-o fa-lg" style="font-size:60px"aria-hidden="true"></i>
      <h3>Get Expert Advice</h3>
      <div class="row">
      <div class="col-xs-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
  </div>
  <div class="col-xs-1"></div>
</div>
<!-- ABOUT -->
<div class="row about-us">
  <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1 class="text-center">About</h1>
        <hr style="border-top: 1px solid #000">
        <p class="text-center">
        ENTERVIEW platform helps gather public information about employers to help you on your big day.
        ENTERVIEW  was design to be an easy one stop shop to gather information  about a company and brush up on common questions and answers before your big day.
        ENTERVIEW connects with several APIs to gather as much public data as possible on companies to help imform the interviewee before a conversation.
        An Interview should naturally gravitate toward a conversation for you and the interviewee  to feel comfortable. A way to make this happen is to know as much about the company as possible to  have the conversation starters.
        ENTERVIEW help solve that problem and leaves a good impression to employers.
      </p>
        </div>
  <div class="col-xs-1"></div>
</div>

<!--CONTACT-->
<div class="row contactForm text-center">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <h1 class="text-center">Contact Us</h1>
    <hr style="border-top: 1px solid #000">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
