<!-- NAV SECTION (desktop)-->
<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="#">ENTERVIEW </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="Login">Login</a></li>
      <li><a ui-sref="Register">SignUp</a></li>
    </ul>
  </div>
</nav>

<!-- NAV SECTION (mobile)-->
<nav class="navbar navbar-default navbar-fixed-top visible-xs">
  <div class="container" style="padding-left:0px">
    <div class="dropdown">
      <span><h1 style="padding-left:5px"> <i class="fa fa-bars" aria-hidden="true"></i></h1></i></span>
      <div class="dropdown-content">
        <p ui-sref="Login">Login</p>
        <p ui-sref="Register">Signup</p>
      </div>
    </div>
  </div>
</nav>

<!-- COVER SECTION -->
<div class="row">
  <div class="hidden-xs">
    <div class="col-xs-12 col-sm-12 col-md-12 background">
      <br/>
      <h1>
        Real
        <typed
          type-strings="['Expert Advice^3000', 'Interview Questions^3000' ,'Company Data^3000', ]"
          start-timeout="500"
          type-speed="20"
          back-speed="20"
          loop="true">
      </typed>
      </h1>
        <h5>
          Get your foot in the door at your next interview using our system.
          <br/>
          We have tools that are designed to make you more than prepared
          <br/>
          for your big day.
        </h5>
      </div>
  </div>
</div>

<!-- COVER SECTION (mobile)-->
<div class="row">
  <div class="visible-xs">
    <div class="col-xs-12 col-sm-12 col-md-12 background-mobile">
      <br/>
      <h1>
        Real
        <typed
          type-strings="['Expert Advice^3000', 'Interview Questions^3000' ,'Company Data^3000', ]"
          start-timeout="500"
          type-speed="20"
          back-speed="20"
          loop="true">
      </typed>
          </h1>
        <h5>
          Get your foot in the door at your next interview using our system.
          <br/>
          We have tools that are designed to make you more than prepared
          <br/>
          for your big day.
        </h5>
      </div>
    </div>
</div>
