<!-- NAV SECTION -->
<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">ENTERVIEW </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="Login">Log in</a></li>
        <li><a ui-sref="Register">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- NAV SECTION -->
<nav class="navbar navbar-default navbar-fixed-top visible-xs">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">ENTERVIEW </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="Login">Log in</a></li>
        <li><a ui-sref="Register">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- SECTION -->
<div class="row">
  <div class="col-xs 12 col-sm-12 col-md-12 background">
    <br/>
    <h1>
      Real
      <typed
        type-strings="['Expert Advice^3000', 'Interview Questions^3000' ,'Company Data^3000', ]"
        start-timeout="500"
        type-speed="20"
        back-speed="20"
        loop="true">
    </typed>
    </h1>
      <h5>
        Get your foot in the door at your next interview using our system.
        <br/>
        We have tools that are designed to make you more than prepared
        <br/>
        for your big day.
      </h5>
    </div>
</div>
