<!-- NAVIGATION BAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- SECTION-->
<div class="profileBackground">
  <div class="row panel panel-default profileComments">
    <div class="col-sm-7 panel-body ">
        <table class="table">
          <h4>My profile:</h4>
          <div ng-repeat="p in vm.posts track by $index ">
            <div class="row panel panel-default">
              <div class="col-sm-6 panel-body">
                <div>
                  <img ng-src="{{p.authorPhoto}}" width="80" height="80"/>
                </div>
                <div>
                  <p>
                  <em>  @{{p.author}}</em>
                  </p>
                </div>
                <div>
              <strong>    {{p.dateCreated  | date: 'short'}} </strong>
              <!-- this filter shortens time format -->
            </div>
                <p class="label label-primary" ng-click="vm.remove(p._id, $index) ">Delete</p>
                <p class="label label-primary"
                ui-sref="EditPost
                ({info: [p. _id,
                  p.interviewType,
                  p.companyDomain,
                  p.positionTitle,
                  p.question.one,
                  p.question.two,
                  p.question.three,
                  p.question.four,
                  p.question.five,
                  p.question.six,
                  p.tag,
                  p.authorPhoto]})">Edit</p>
              </div>
              <div class="col-sm-6">
                <div>
                  Type of interview: {{p.interviewType}}

                </div>

                <div>
                  Website url: {{p.companyDomain}}

                <div>
                  Position Title: {{p.positionTitle}}
                </div>

                <div>
                  Interview Question #1:   {{p.question.one}}
                </div>

                <div>
                  Interview Question #2: {{p.question.two}}
                </div>
                <div>
                  Interview Question #3: {{p.question.three}}
                </div>
                <div>
                  Interview Question #4: {{p.question.four}}
                </div>
                <div>
                  Interview Question #5: {{p.question.five}}
                </div>
                <div>
                  Additional Comments: {{p.question.six}}
                </div>              </div>
            </div>
          </div>
        </div>
      </div>
