<!-- NAVIGATION BAR (desktop)-->
<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAVIGATION BAR (mobile)-->
<nav class="navbar navbar-default navbar-fixed-top visible-xs">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- SECTION-->
<div class="pageBackground">
  <h4 class="text-center">My Profile</h4>
  <div ng-repeat="p in vm.posts track by $index">
    <div class="row profileComments">
      <div class="col-sm-12 col-md-12 panel-body ">
          <div class="row panel panel-default">
            <div class="col-sm-3 col-md-3 panel-body">
              <div>
                <img ng-src="{{p.authorPhoto}}" width="75" height="75"/>
              </div>
              <div>
                <p>
                  <em> @{{p.author}}</em>
                </p>
              </div>
              <div>
                <strong>  {{p.dateCreated  | date: 'short'}} </strong> <!-- this filter shortens time format -->
            </div>
            <!-- DELETE BUTTON-->
            <p
              class="btn btn-link"
              ng-click="vm.remove(p._id, $index) ">
              Delete
            </p>
            <!-- EDIT BUTTON-->
            <p class="btn btn-link "
                ui-sref="EditPost
                ({info: [p. _id,
                  p.interviewType,
                  p.companyDomain,
                  p.positionTitle,
                  p.question.one,
                  p.question.two,
                  p.question.three,
                  p.question.four,
                  p.question.five,
                  p.question.six,
                  p.tag,
                  p.authorPhoto]})">
                  Edit
                </p>
              </div>
              <!-- PROFILE COMMENTS -->
              <div class="col-sm-9 col-md-9 profileComments">
                <div>
                  <strong> Type of interview: </strong>
                  {{p.interviewType}}
                </div>
                <div>
                <strong> Website url: </strong>
                {{p.companyDomain}}
              </div>
              <div>
                <strong> Position Title: </strong>
                {{p.positionTitle}}
              </div>
              <div>
                <strong> Interview Question #1: </strong>
                  {{p.question.one}}
              </div>
              <div>
                <strong>  Interview Question #2: </strong>
                {{p.question.two}}
              </div>
              <div>
                <strong>  Interview Question #3:</strong>
                 {{p.question.three}}
              </div>
              <div>
                <strong>  Interview Question #4: </strong>
                {{p.question.four}}
              </div>
              <div>
                  <strong>  Interview Question #5:</strong>
                {{p.question.five}}
              </div>
              <div>
                <strong>  Additional Comments: </strong>
                {{p.question.six}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
