<!-- NAVIGATION BAR (desktop)-->
<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAVIGATION BAR (mobile)-->
<nav class="navbar navbar-default navbar-fixed-top visible-xs">
  <div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand fa fa-home fa-lg" aria-hidden="true" ui-sref="Home">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class=" fa fa-user fa-lg" ui-sref="Profile">Profile</a></li>
        <li><a ng-click="vm.logout()" class="fa fa-sign-out fa-lg" aria-hidden="true">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- SECTION -->
<div class="companyBackground">
  <div class="row">
    <form class="col-sm-6 col-sm-offset-3">
      <h3 class="page-header text-center">
        Research Company
      </h3>
      <p class ="text-center">
        <br> Impress the hiring manager with your knowledge about the company to ace your interview.
      </p>
      <div class="form-group">
        <label>Company Name</label>
        <input type="text"
        class="form-control"
        placeholder="Name"
        ng-model="vm.companyName">
      </div>
      <div class="form-group">
        <label>Company Domain</label>
        <input type="text"
        class="form-control"
        placeholder="www.company.com"
        ng-model="vm.companyDomain">
      </div>
      <input type="submit"
      class="btn btn-success btn-block"
      value="Search"
      ng-click="vm.research()">
      Note: Some companies results may lack if there is no strong online presence.
    </form>
  </div>
</div>
  <!-- ABOUT SECTION -->
  <div class="row">
    <span ng-show="vm.companyData">
    <div class="col-xs-12 col-sm-12 col-md-12 panel">
      <div class="col-xs-12 col-sm-4 col-md-12">

           <h3>
             About
           </h3>
           <hr>
         </span>
         <p>
           <img ng-src="{{vm.companyData.logo}}"
           ng-click="vm.goToWebsite(vm.companyData.domain)"
           width="100"
           length="100"
           alt="{{vm.companyData.name}}"/>
         </p>
         <p>
           <span ng-show="vm.companyData">
             <strong>Company:</strong>
             {{vm.companyData.name}}
           </p>
           </span>
         <p>
           <span ng-show="vm.companyData">
             <strong>Approximate employees:</strong> {{vm.companyData.metrics.employees}} </p></span>
         <p> <span ng-show="vm.companyData"> <strong>Founded Year:</strong> {{vm.companyData.foundedYear}} </p></span>
         <p> <span ng-show="vm.companyData"> <strong>Sector:</strong> {{vm.companyData.category.sector}} </p></span>
         <p> <span ng-show="vm.companyData"> <strong>Industry group:</strong> {{vm.companyData.category.industryGroup}} </p></span>
         <p> <span ng-show="vm.companyData"> <strong>Industry:</strong> {{vm.companyData.category.industry}} </p> </span>
         <p> <span ng-show="vm.companyData"> <strong>SubIndustry:</strong> {{vm.companyData.category.subIndustry}} </p> </span>
         <p> <span ng-show="vm.companyData"> <strong>Description:</strong> <br> {{vm.companyData.description}} </p></span>
       </div>
       <!-- SOCIAL PROFILES SECTION -->
        <span ng-show="vm.companyData">
            <div class="col-xs-12 col-sm-4 col-md-12">
              <h3>
                Social Profiles:
            </h3>
          <hr>
      {{vm.companyData.name}}'s  LinkedIn Profile:
      <i class="fa fa-linkedin fa-lg" aria-hidden="true" ng-show="vm.companyData"
      ng-click="vm.goToLinkedin(vm.companyData.linkedin.handle)">{{vm.companyData.linkedin.bio}}</i>

      <br/>
      <br/>
      {{vm.companyData.name}}'s  Facebook Profile:
      <i class="fa fa-facebook fa-lg" aria-hidden="true" ng-show="vm.companyData"
      ng-click="vm.goToFacebook
      (vm.companyData.facebook.handle)"></i>

      <br/>
      <br/>
      {{vm.companyData.name}}'s Twitter Profile:
      <i class="fa fa-twitter fa-lg" aria-hidden="true" ng-show="vm.companyData"
      ng-click="vm.goToTwitter(vm.companyData.twitter.handle)"></i>

    <br/>
    <br/>
    <i ng-show="vm.companyData" ng-click="vm.goToCrunchBase (vm.companyData.crunchbase.handle)">{{vm.companyData.name}}'s Crunchbase Profile</i>
    <br/>
  </div>
</span>
    <!-- contact section-->
      <span ng-show="vm.companyData">
        <div class="col-xs-12 col-sm-4 col-md-12">
      <h3>
        Contact:
      </h4>
      <hr>
    </span>
      <span ng-show="vm.companyData"> <p><b> Headquarter address:</b> <br>{{vm.companyData.location}} </p></span>
              <br/>
              <h2>
                <span
                  ng-show="vm.companyData"
                  class="label label-primary"
                  ui-sref="CompanyGlassdoor({info:vm.companyName})">
                  {{vm.companyData.name}}'s Glassdoor >
                </span>
                <br/>
                <br/>
                <span
                ng-show="vm.companyData"
                class="label label-primary"
                ui-sref="Feed({info:vm.companyName})">
                {{vm.companyData.name}} Interview Posts >
                </span>
            </h2>
          </div>
    </div>
  </div>
</div>
