.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th
  {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #fff;
  }

i:hover{
  color:blue;
  cursor:pointer;
}
.navbar{
  padding-right: 25px;
  padding-left: 25px;
}


@media only screen and (max-width: 768px) {
    .navbar {
      padding:0px 0px 0px 0px;
    }
}

.background {
  background-image: url('http://i.huffpost.com/gen/1152564/images/o-JOB-INTERVIEW-facebook.jpg');
  max-width: 100%;
  height: 100vh;
  opacity: 0.6;
  background-repeat: no-repeat, repeat;
  color:#000000;
  font-size: 50px;
}

.background-mobile {
  background-color:#d5d5d5;
  max-width: 100%;
  height: 100vh;
  opacity: 0.6;
  background-repeat: no-repeat, repeat;
  color:#000000;
  font-size: 50px;

}


.about {
  background: #4e5d6c;
  font-family: #ffffff;
}

.navbar {
  background: black;
  opacity: 0.7;
}

.footer {
  font-size: 15px;
  background: #d5d5d5;
}



.homeBackground {
  /*margin:140px;*/
  background: #e9ebee;

}

.home-bio {
  box-shadow: 4px 4px 2px #C5C5C5;
  background-color: white;
}
.homeIcon {
  box-shadow: 4px 4px 2px #C5C5C5;
}

.companyBackground {
  margin-top:130px;
}

.profileComments {
  margin-top: 0px;
 padding: 0px;
 background-color: #white;
 }

.pageBackground {
  padding:120px 70px 80px 80px;
  background: #e9ebee;

}
.userPage {
  margin-top: 180px;
}

.createPostPage {
  padding:70px 70px 80px 80px;
}
.editPhoto {
  margin-top: 180px;
  padding-right:80px;
  padding-left: 80px;
}

.editBackground{
  background-color: #e9ebee;

}
.editPost{
  padding:30px 50px 50px 50px;
}
.card {
    background-color: #ffffff;
    box-shadow: 4px 4px 2px #C5C5C5;
    margin: 0 20px 20px 20px;
    padding-bottom: 20px;
    padding-top: 15px;
}


@media only screen and (max-width: 768px) {
    .className {
      selector: value;
    }
}
